/*MOBILE MEDIA*/
@media only screen and (min-width: 200px) {
  body{
    background-image: url("../img/wallpaper-1.jpg");
    background-repeat: round;
    background-size: cover;
    background-color: rgba(105, 102, 102, 0.5);
  }

  hr{
    width: 90%;
    margin-left: 2%;
  }
  .span-reference{
    margin-left: 6%;
    padding: 1%;
    font-size: 16px;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    border: 0px;
    border-radius: 16px;
  }

  /*A TAG CSS*/    
  [class*="mob-"]{
    width: 80%;
    margin: 4%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes mob-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes mob-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .mob-menu {
    -webkit-animation-name: mob-menu;
    animation-name: mob-menu;
  }

  @-webkit-keyframes mob-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes mob-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-webkit-keyframes mob-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes mob-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  a{
    color:ghostwhite;
    text-decoration-line: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }

  .mob-img{
    float: left;
    top: 20%;
    width: 60%;
    margin: 4%;
    margin-left: 12%;
    text-align: center;
  }
  
  .html-logo{
    width: 15%;
    height: 15%;
  }
  .css-logo{
    width: 15%;
    height: 15%;
  }
  .js-logo{
    width: 15%;
    height: 15%;
  }
  .java-logo{
    width: 15%;
    height: 15%;
  }
  .php-logo{
    width: 15%;
    height: 15%;
  }
  .python-logo{
    width: 15%;
    height: 15%;
  }
  .wordpress-logo{
    width: 30%;
    height: 30%;
  }

  [class*="btn-"]{
    width: 39%;
    float: left;
    display: block;
    margin: 4%;
    padding: 0.5%;
    text-align: center;
    font-size: 16px;
    background-color: rgba(45, 46, 46, 0.5);
    border-radius: 15px;
  }

  .btn-header{
    width: 100%;
    margin: 0%;
    font-size: 20px;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }
  .selected{
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
  }
  /*A TAG CSS END*/

  /*RIGHT CONTENT*/
  .mob-right{
    float: left;
    margin-left: 5%;
    top: 10%;
    width: 80%;
    
  }  
  .mob-title{
    width: 82%;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    font-size: 24px;
    text-align: center;
    -webkit-animation-name: mob-title;
    animation-name: mob-title;
  }
  .mob-content{
    color: ghostwhite;
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
    background-color: rgba(45, 46, 46, 0.9);
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    -webkit-animation-name: mob-content;
    animation-name: mob-content;
  }
    
  p{
    font-size: 16px;
  }

  [class*="form-"]{
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 80%;
    transition: all 0.3s;
    padding: 3%;
    margin-bottom: 1%;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    font-size: 18px;
    color:black;
  }
  .form-table{
    width: 100%;
    border: 0px;
    background-color: transparent;
  }

  .form-textarea{
    height: 100%;
    width: 80%;
  }

  .icon{
    width: 10%;
    height: 10%;
    background-color: rgba(211, 219, 219, 0.9);
    border-radius: 10px;
  }
  
  .icon-a{
    background-color: transparent;
    border: 0px;
    display: unset;
  }

  ol, li{
    font-size: 12px;
    margin: 2%;
    margin-top: 5%;
  }

  .text-ul{
    margin-left: 2%;
    margin-top: 5%;
    list-style-type: none;
    font-size: 12px;
  }
  
  .mypic-home{
    width: 15%;
    height: 25%;
    margin-left: 33%;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 1%;
    background-color: rgba(105, 102, 102, 0.5);
  }
  
}

/*TABLET MEDIA*/
@media only screen and (min-width: 600px) {
  body{
    background-image: url("../img/wallpaper-1.jpg");
    background-repeat: round;
    background-size: cover;
    background-color: rgba(105, 102, 102, 0.5);
  }

  hr{
    width: 90%;
    margin-left: 2%;
  }

  .span-reference{
    margin-left: 3%;
    padding: 1%;
    font-size: 20px;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    border: 0px;
    border-radius: 16px;
  }

  /*A TAG CSS*/    
  [class*="tab-"]{
    width: 60%;
    margin-top: 5%;
    margin-left: 2%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes tab-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes tab-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .tab-menu {
    -webkit-animation-name: tab-menu;
    animation-name: tab-menu;
  }

  @-webkit-keyframes tab-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes tab-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .tab-content {
    -webkit-animation-name: tab-content;
    animation-name: tab-content;
  }

  @-webkit-keyframes tab-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes tab-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .tab-title {
    -webkit-animation-name: tab-title;
    animation-name: tab-title;
  }
  
  a{
    color:ghostwhite;
    text-decoration-line: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }

  .table-img{
    width: 100%;
    margin-top: 8%;
    margin-left: 18%;
  }
  .mob-img{
    float: left;
    top: 0%;
    width: 40%;
    margin: 0%;
    margin-left: 0%;
    text-align: center;
  }
  
  .html-logo{
    width: 25%;
    height: 25%;
  }
  .css-logo{
    width: 25%;
    height: 25%;
  }
  .js-logo{
    width: 25%;
    height: 25%;
  }
  .java-logo{
    width: 25%;
    height: 25%;
  }
  .php-logo{
    width: 45%;
    height: 45%;
  }
  .python-logo{
    width: 25%;
    height: 25%;
  }
  .wordpress-logo{
    width: 35%;
    height: 35%;
  }

  [class*="btn-"]{
    width: 28%;
    float: left;
    display: block;
    margin: 2%;
    padding: 0.5%;
    text-align: center;
    font-size: 16px;
    background-color: rgba(45, 46, 46, 0.5);
  }

  .btn-header{
    width: 70%;
    margin: 0%;
    font-size: 20px;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }
  .selected{
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
  }
  /*A TAG CSS END*/

  /*RIGHT CONTENT*/
  .tab-right{
    float: right;
    margin-top: 0%;
    width: 50%;
  }  
  .tab-title{
    width: 100%;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    font-size: 28px;
    text-align: center;
    -webkit-animation-name: tab-title;
    animation-name: tab-title;
  }
  .tab-content{
    color: ghostwhite;
    width: 100%;
    background-color: rgba(45, 46, 46, 0.9);
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    -webkit-animation-name: tab-content;
    animation-name: tab-content;
  }
    
  p{
    font-size: 20px;
  }
  
  [class*="form-"]{
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 80%;
    transition: all 0.3s;
    padding: 3%;
    margin-bottom: 1%;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    font-size: 18px;
    color:black;
  }
  .form-table{
    width: 100%;
    border: 0px;
    background-color: transparent;
  }

  .form-textarea{
    height: 100%;
    width: 80%;
  }

  .icon{
    width: 10%;
    height: 10%;
    background-color: rgba(211, 219, 219, 0.9);
    border-radius: 10px;
  }
  
  .icon-a{
    background-color: transparent;
    border: 0px;
    display: unset;
  }

  ol, li{
    font-size: 18px;
    margin: 2%;
    margin-top: 5%;
  }

  .text-ul{
    margin-left: 2%;
    margin-top: 5%;
    list-style-type: none;
    font-size: 18px;
  }
  
  .mypic-home{
    width: 20%;
    height: 30%;
    margin-left: 15%;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 1%;
  }
}

/*DESKTOP LAPTOP MEDIA*/
@media only screen and (min-width: 1280px){
  body{
    background-image: url("../img/wallpaper-1.jpg");
    background-repeat: round;
    background-size: cover;
    background-color: rgba(105, 102, 102, 0.5);
  }

  hr{
    width: 90%;
    margin-left: 2%;
  }

  /*A TAG CSS*/    
  [class*="com-"]{
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes com-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes com-menu {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .tab-menu {
    -webkit-animation-name: com-menu;
    animation-name: com-menu;
  }

  @-webkit-keyframes com-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes com-content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-webkit-keyframes com-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes tab-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  a{
    color:ghostwhite;
    text-decoration-line: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }

  .table-img{
    width: 100%;
    margin-top: 8%;
    margin-left: 18%;
  }
  .com-img{
    float: left;
    top: 0%;
    width: 65%;
    margin: 0%;
    margin-left: 0%;
    text-align: center;
  }
  
  .html-logo{
    width: 25%;
    height: 25%;
  }
  .css-logo{
    width: 25%;
    height: 25%;
  }
  .js-logo{
    width: 25%;
    height: 25%;
  }
  .java-logo{
    width: 25%;
    height: 25%;
  }
  .php-logo{
    width: 45%;
    height: 45%;
  }
  .python-logo{
    width: 25%;
    height: 25%;
  }
  .wordpress-logo{
    width: 35%;
    height: 35%;
  }

  [class*="btn-"]{
    width: 28%;
    float: left;
    display: block;
    margin: 2%;
    padding: 3%;
    text-align: center;
    font-size: 32px;
    background-color: rgba(45, 46, 46, 0.5);
    border-radius: 15px;
  }

  
  .btn-header{
    width: 70%;
    margin: 0%;
    font-size: 36px;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
  }
  .selected{
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
  }
  /*A TAG CSS END*/

  /*RIGHT CONTENT*/
  .tab-right{
    float: right;
    top: 0%;
    margin-top: 0%;
    width: 50%;
    margin-left: 0%;
  }

  .com-about{
    float: left;
    margin-top: 0%;
    width: 50%;
    margin-left: 12%;
  }

  .com-title{
    width: 100%;
    color: black;
    background-color: rgba(211, 219, 219, 0.9);
    display: block;
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    font-size: 36px;
    text-align: center;
    -webkit-animation-name: tab-title;
    animation-name: tab-title;
  }
  .com-content{
    color: ghostwhite;
    width: 100%;
    background-color: rgba(45, 46, 46, 0.9);
    border: 2px;
    border-color: rgba(0,0,0,0.7);
    border-style: solid;
    -webkit-animation-name: tab-content;
    animation-name: tab-content;
  }
    
  p{
    font-size: 24px;
  }

  [class*="form-"]{
    background-color: rgba(211, 219, 219, 0.9);
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 50%;
    transition: all 0.3s;
    padding: 3%;
    margin-bottom: 1%;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
    font-size: 18px;
    color:black;
  }
  .form-table{
    width: 100%;
    border: 0px;
    background-color: transparent;
  }

  .form-textarea{
    height: 100%;
    width: 50%;
    border-radius: 20px;
  }

  .icon{
    width: 10%;
    height: 10%;
    background-color: rgba(211, 219, 219, 0.9);
    border-radius: 20px;
  }
  
  .icon:hover{
    width: 10%;
    height: 10%;
    background-color: rgba(211, 219, 219, 0.9);
    transition: all 800ms;
    border-radius: 20px;
    transform: rotate(360deg);
  }
  .icon-a{
    background-color: transparent;
    border: 0px;
    display: unset;
  }

  ol, li{
    font-size: 20px;
    margin: 2%;
    margin-top: 5%;
  }
  .text-ul{
    margin-left: 2%;
    margin-top: 5%;
    list-style-type: none;
    font-size: 24px;
  }

  .mypic-home{
    width: 20%;
    height: 30%;
    margin-left: 25%;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 1%;
  }
}